@charset 'utf-8';
@import url('../fonts/insula/stylesheet.css');
@import url('../fonts/bohemian-typewriter/stylesheet.css');
@media screen {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    height: auto !important;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  [hidden] {
    display: none;
  }
  html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  html,
  button,
  input,
  select,
  textarea {
    font-family: sans-serif;
  }
  body {
    margin: 0;
  }
  a:focus,
  a:active,
  a:hover {
    outline: 0;
  }
  h1 {
    font-size: 2em;
    margin: .67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: .83em 0;
  }
  h3 {
    font-size: 1.17em;
    margin: 1em 0;
  }
  h4 {
    font-size: 1em;
    margin: 1.33em 0;
  }
  h5 {
    font-size: .83em;
    margin: 1.67em 0;
  }
  h6 {
    font-size: .75em;
    margin: 2.33em 0;
  }
  abbr[title] {
    border-bottom: 1px dotted;
  }
  b,
  strong {
    font-weight: bold;
  }
  blockquote {
    margin: 1em 40px;
  }
  dfn {
    font-style: italic;
  }
  mark {
    background: #ff0;
    color: #000;
  }
  p,
  pre {
    margin: 1em 0;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
  }
  pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  q {
    quotes: none;
  }
  q:before,
  q:after {
    content: '';
    content: none;
  }
  small {
    font-size: 75%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  dl,
  menu,
  ol,
  ul {
    margin: 1em 0;
  }
  dd {
    margin: 0 0 0 40px;
  }
  menu,
  ol,
  ul {
    padding: 0 0 0 40px;
  }
  nav ul,
  nav ol {
    list-style: none;
    list-style-image: none;
  }
  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  figure {
    margin: 0;
  }
  form {
    margin: 0;
  }
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
  }
  legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
  }
  button,
  input,
  select,
  textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
  }
  button,
  input {
    line-height: normal;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
  }
  button[disabled],
  input[disabled] {
    cursor: default;
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
    vertical-align: top;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  mark {
    background: none;
    color: #333;
  }
  .fp {
    font-family: 'Bohemian Typewriter', sans-serif;
  }
  .fh {
    font-family: 'Insula', sans-serif;
  }
  .fi {
    font-family: sans-serif;
  }
  .btn {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-family: 'Bohemian Typewriter', sans-serif;
    margin: 0;
    padding: 0 20px;
    border: 0;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    overflow: visible;
    color: #fff;
    outline: none;
    text-align: center;
    background: #895d1f;
  }
  .btn:hover {
    background: #5f4116;
  }
  .fileinputs:hover input[type="button"] {
    background: #5f4116;
  }
  .rul {
    margin: 0;
    padding: 0;
  }
  .rli {
    margin: 0;
    padding: 0;
    background: none;
  }
  .rli:before {
    content: '';
  }
  .rin {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
  }
  .clearfix {
    *zoom: 1;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both;
  }
  .container {
    *zoom: 1;
    position: relative;
    width: 980px;
    padding: 0 20px;
    margin: auto;
    text-align: left;
  }
  .container:before,
  .container:after {
    display: table;
    content: "";
  }
  .container:after {
    clear: both;
  }
  .row {
    *zoom: 1;
    margin: 0 -10px;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    position: relative;
    min-height: 1px;
    padding: 0 10px;
    float: left;
  }
  .col-1 {
    width: 8.33333333%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-12 {
    width: 100%;
  }
  html,
  body,
  button,
  input,
  select,
  textarea {
    font-family: 'Bohemian Typewriter', sans-serif;
  }
  body {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    font-weight: normal;
    color: #333;
    background: #ebd99b url('../images/bg/bg.jpg') center 530px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Insula', sans-serif;
    margin: 0 0 10px;
    line-height: 1.2;
    font-weight: normal;
  }
  h1 {
    font-size: 33.6px;
  }
  h2 {
    font-size: 30.4px;
  }
  h3 {
    font-size: 27.2px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20.8px;
  }
  h6 {
    font-size: 16px;
  }
  p {
    margin: 0 0 20px;
  }
  ul,
  ol {
    padding: 0;
    margin: 0 0 20px 20px;
  }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
    margin-top: 0;
  }
  ul>li {
    position: relative;
    list-style-type: none;
    padding: 0 0 0 16px;
    margin: 0;
  }
  ul>li:before {
    font-family: sans-serif;
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 12px;
    line-height: 1;
    content: '\203a';
  }
  ul>li>ul {
    padding: 10px 0;
  }
  ol {
    list-style: decimal;
  }
  ol>li {
    margin: 0 0 0 20px;
  }
  ol>ol {
    padding: 10px 0;
  }
  hr {
    margin: 0 0 20px;
    border: 0;
    border-top: 1px solid #808080;
  }
  strong,
  b {
    font-weight: bold;
  }
  em,
  i {
    font-style: italic;
  }
  sup,
  sub {
    position: relative;
    vertical-align: baseline;
    font-size: 60%;
    line-height: 1;
  }
  sup {
    bottom: 1.4ex;
  }
  sub {
    top: .7ex;
  }
  a {
    color: #895d1f;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
  }
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  textarea,
  select {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    border: 1px solid #b3b3b3;
    font-size: 16px;
    width: 100%;
    height: 30px;
    padding: 4px 10px;
    color: #333;
    background: #fff;
    max-width: 100%;
  }
  input[type=text]:hover,
  input[type=text]:focus,
  input[type=number]:hover,
  input[type=number]:focus,
  input[type=email]:hover,
  input[type=email]:focus,
  input[type=password]:hover,
  input[type=password]:focus,
  textarea:hover,
  textarea:focus,
  select:hover,
  select:focus {
    border-color: #333;
  }
  textarea {
    padding: 10px;
    height: auto;
  }
  select[multiple] {
    width: auto;
    height: auto;
    padding-right: 4px;
    padding-left: 4px;
  }
  input[type=submit],
  input[type=button],
  button {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-family: 'Bohemian Typewriter', sans-serif;
    margin: 0;
    padding: 0 20px;
    border: 0;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    overflow: visible;
    color: #fff;
    outline: none;
    text-align: center;
    background: #895d1f;
  }
  input[type=submit]:hover,
  input[type=button]:hover,
  button:hover {
    background: #5f4116;
  }
  .r {
    text-align: right !important;
  }
  .c {
    text-align: center !important;
  }
  .l {
    text-align: left !important;
  }
  .j {
    text-align: justify !important;
  }
  .pull-left {
    float: left !important;
  }
  .pull-right {
    float: right !important;
  }
  .cleaner {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    float: none;
  }
  #page-header {
    position: relative;
    margin: 0 0 -100px;
    height: 530px;
    background: url(../images/bg/header.jpg) repeat-x top;
  }
  #page-header h1 {
    color: #fef758;
    text-shadow: 4px 0 0 rgba(0,0,0,0.7);
    font-size: 86px;
    line-height: 1;
    text-transform: uppercase;
    margin: 120px 0 0;
    height: 171px;
    text-align: center;
  }
  #mainmenu {
    margin: auto;
    max-width: 1160px;
    padding: 6px 0 0;
    -webkit-box-shadow: 0 1px 8px #000;
    -moz-box-shadow: 0 1px 8px #000;
    box-shadow: 0 1px 8px #000;
    background: url(../images/bg/menu.jpg) top;
  }
  #mainmenu ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #mainmenu ul li {
    margin: 0;
    padding: 0;
    background: none;
    display: inline-block;
    font-size: 28px;
    line-height: 1;
    white-space: nowrap;
    margin: 0 10px 6px;
  }
  #mainmenu ul li:before {
    content: '';
  }
  #mainmenu ul li a {
    color: #fef19f;
    text-shadow: 3px 0 1px rgba(0,0,0,0.9);
    text-decoration: none;
  }
  #mainmenu ul li a:hover {
    color: #fff;
  }
  #mainmenu ul li.active a {
    color: #fff;
  }
  #cards {
    position: relative;
    text-align: center;
    padding: 0 22px;
    margin: 0 0 50px;
  }
  #cards .item {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    padding: 0 4px;
    margin: 0 -4px 14px;
    color: #3a3a3a;
  }
  #cards .item a {
    *zoom: 1;
    display: block;
    color: #3a3a3a;
    text-decoration: none;
  }
  #cards .item a:before,
  #cards .item a:after {
    display: table;
    content: "";
  }
  #cards .item a:after {
    clear: both;
  }
  #cards .item .inner {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    -o-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    *zoom: 1;
    overflow: hidden;
    position: relative;
    text-align: left;
    padding: 10px;
    height: 192px;
    font-size: 15px;
    background: url(../images/bg/card.jpg) no-repeat;
    background-size: 100% 100%;
  }
  #cards .item .inner:before,
  #cards .item .inner:after {
    display: table;
    content: "";
  }
  #cards .item .inner:after {
    clear: both;
  }
  #cards .item .inner h2 {
    font-family: 'Bohemian Typewriter', sans-serif;
    font-size: 22px;
    margin: 0 0 10px;
  }
  #cards .item .inner .left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 46%;
  }
  #cards .item .inner .left .volejte-info-online {
    font-size: 12px;
    display: block;
  }
  #cards .item .inner .left .cislo {
    font-size: 18px;
  }
  #cards .item .inner .left .dovetek {
    font-size: 11px;
  }
  #cards .item .inner .right {
    float: right;
    width: 50%;
  }
  #cards .item .inner .right .foto {
    position: relative;
    width: 56%;
    float: right;
    margin: 0 0 10px;
  }
  #cards .item .inner .right .foto img {
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -ms-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -webkit-border-radius: 8px 5px 6px 4px;
    -moz-border-radius: 8px 5px 6px 4px;
    -ms-border-radius: 8px 5px 6px 4px;
    -o-border-radius: 8px 5px 6px 4px;
    border-radius: 8px 5px 6px 4px;
    position: relative;
    display: block;
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  #cards .item .inner .right .foto:before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 15%;
    left: -62px;
    width: 76px;
    height: 76px;
    background: url(../images/bg/stamp.png) no-repeat;
    background-size: 100% 100%;
  }
  #cards .item .inner .right .jmeno {
    display: block;
    clear: both;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    margin: 0 0 5px;
  }
  #cards .item .inner .right .linka {
    clear: both;
    font-size: 14px;
    text-align: right;
  }
  #cards .item .inner .right .linka .klapka {
    position: relative;
    top: -4px;
    font-size: 22px;
    font-weight: bold;
  }
  #cards .item:nth-child(2n+0) .inner .right .foto:before {
    top: 2%;
  }
  #cards .item:nth-child(2n+0) .inner .right .foto img {
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  #cards .item:nth-child(3n+0) .inner .right .foto:before {
    top: 25%;
  }
  #cards .item:nth-child(3n+0) .inner .right .foto img {
    -ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  #cards .item .info-online,
  #cards .item .info-offline {
    font-family: 'Insula', sans-serif;
    position: absolute;
    left: -12px;
    top: -15px;
    color: #fff8bb;
    background: #e11701;
    border-bottom: 2px solid #ae1201;
    width: 90px;
    height: 36px;
    font-size: 15px;
    line-height: 1;
    padding: 17px 22px 0 0;
    white-space: nowrap;
    text-align: center;
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  #cards .item .info-offline {
    background: #bb7f3c;
    border-color: #946530;
  }
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0,0,0,0.6);
  }
  .modal .modal-dialog {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    top: 80px;
    width: auto;
    margin: 10px;
    width: 560px;
    margin: 30px auto;
  }
  .modal .modal-dialog .close {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    float: right;
    background: #fff8bb;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 0 0 0 1px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    border: 1px solid #333;
    margin: -15px -15px 0 0;
  }
  .modal .modal-dialog .modal-content {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    text-align: left;
    padding: 40px;
    position: relative;
    background: url(../images/bg/bg.jpg) repeat-y center;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .modal-open {
    overflow: hidden;
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .modal.in .modal-dialog {
    top: 0px;
  }
  .modal-card .modal-dialog {
    width: 605px;
  }
  .modal-card .modal-dialog .modal-content {
    *zoom: 1;
    overflow: hidden;
    padding: 20px;
    background: url(../images/bg/card.jpg) no-repeat;
    background-size: 100% 100%;
  }
  .modal-card .modal-dialog .modal-content:before,
  .modal-card .modal-dialog .modal-content:after {
    display: table;
    content: "";
  }
  .modal-card .modal-dialog .modal-content:after {
    clear: both;
  }
  .modal-card .modal-dialog .modal-content .info-online,
  .modal-card .modal-dialog .modal-content .info-offline {
    font-family: 'Insula', sans-serif;
    position: absolute;
    left: -20px;
    top: -30px;
    color: #fff8bb;
    background: #e11701;
    border-bottom: 2px solid #ae1201;
    width: 140px;
    height: 60px;
    font-size: 20px;
    line-height: 1;
    padding: 32px 40px 0 0;
    white-space: nowrap;
    text-align: center;
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  .modal-card .modal-dialog .modal-content .info-offline {
    background: #bb7f3c;
    border-color: #946530;
  }
  .modal-card .modal-dialog .modal-content .left {
    float: left;
    width: 44%;
    padding: 105px 0 0;
  }
  .modal-card .modal-dialog .modal-content .left ul {
    margin: 0;
    padding: 0;
  }
  .modal-card .modal-dialog .modal-content .left ul li {
    margin: 0;
    padding: 0;
    background: none;
    font-size: 21px;
    padding: 0 0 0 22px;
  }
  .modal-card .modal-dialog .modal-content .left ul li:before {
    content: '';
  }
  .modal-card .modal-dialog .modal-content .left ul li:before {
    font-family: 'Bohemian Typewriter', sans-serif;
    top: 5px;
    font-size: 21px;
    content: '-';
  }
  .modal-card .modal-dialog .modal-content .right {
    float: right;
    width: 50%;
  }
  .modal-card .modal-dialog .modal-content .right .bigfoto {
    position: relative;
    width: 45%;
    float: right;
  }
  .modal-card .modal-dialog .modal-content .right .bigfoto img {
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -ms-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    display: block;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .modal-card .modal-dialog .modal-content .right .bigfoto:before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 7%;
    left: -82px;
    width: 106px;
    height: 106px;
    background: url(../images/bg/stamp.png) no-repeat;
    background-size: 100% 100%;
  }
  .modal-card .modal-dialog .modal-content .right .jmeno {
    display: block;
    clear: both;
    font-size: 38px;
    text-transform: uppercase;
    margin: 0 0 0 4px;
  }
  .modal-card .modal-dialog .modal-content .right .linka {
    font-size: 20px;
    text-align: right;
    margin: -20px 16px -10px 0;
  }
  .modal-card .modal-dialog .modal-content .right .linka .cislo {
    font-size: 30px;
  }
  .modal-card .modal-dialog .modal-content .right .linka .volejte {
    position: relative;
    top: -12px;
    font-size: 11px;
    text-align: left;
    padding-bottom: 4px;
    margin: 0;
  }
  .modal-card .modal-dialog .modal-content .right .linka .dovetek {
    position: relative;
    top: -6px;
    font-size: 12px;
    text-align: right;
    padding-bottom: 0px;
    margin: 0;
  }
  #page-footer {
    margin: 0 auto 20px;
    max-width: 1160px;
    padding: 6px 0 0;
    font-size: 16px;
    line-height: 1.2;
    -webkit-box-shadow: 0 1px 8px #000;
    -moz-box-shadow: 0 1px 8px #000;
    box-shadow: 0 1px 8px #000;
    color: #fff;
    background: url(../images/bg/menu.jpg) top;
    background-size: auto 100%;
  }
  #page-footer a {
    color: #fff;
  }
}
@media print {
  a,
  abbr,
  acronym,
  address,
  applet,
  area,
  article,
  aside,
  audio,
  b,
  base,
  basefont,
  bdi,
  bdo,
  big,
  blockquote,
  body,
  br,
  button,
  canvas,
  caption,
  center,
  cite,
  code,
  col,
  colgroup,
  command,
  datalist,
  dd,
  del,
  details,
  dfn,
  dialog,
  dir,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  font,
  footer,
  form,
  frame,
  frameset,
  head,
  header,
  hgroup,
  h1,
  - h6,
  hr,
  html,
  i,
  iframe,
  img,
  input,
  ins,
  kbd,
  keygen,
  label,
  legend,
  li,
  link,
  main,
  map,
  mark,
  menu,
  meta,
  meter,
  nav,
  noframes,
  noscript,
  object,
  ol,
  optgroup,
  option,
  output,
  p,
  param,
  pre,
  progress,
  q,
  rp,
  rt,
  ruby,
  s,
  samp,
  script,
  section,
  select,
  small,
  source,
  span,
  strike,
  strong,
  style,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  textarea,
  tfoot,
  th,
  thead,
  time,
  title,
  tr,
  track,
  tt,
  u,
  ul,
  var,
  video,
  wbr {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    position: static;
    font-size: 12pt;
    line-height: 1.4;
    word-spacing: 1.1pt;
    letter-spacing: 0.2pt;
    color: #000;
    background: none;
    float: none;
    border: 0;
    font-family: serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .mod-title {
    margin: 1.3em 0;
    font-weight: bold;
  }
  h1 {
    font-size: 21pt;
  }
  h2,
  .mod-title {
    font-size: 17pt;
  }
  h3 {
    font-size: 15pt;
  }
  h4,
  h5,
  h6 {
    font-size: 12pt;
  }
  code {
    font: 10pt Courier, monospace;
  }
  blockquote {
    margin: 1.3em;
    padding: 1em;
    font-size: 10pt;
  }
  hr {
    border-top: 1px solid #000;
  }
  a {
    text-decoration: underline;
    color: blue;
  }
  table {
    margin: 1px;
    text-align: left;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
  }
  th {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    font-weight: bold;
  }
  td {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
  }
  th,
  td {
    padding: 4px 10px 4px 0;
  }
  tfoot {
    font-style: italic;
  }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  #page-header,
  #mainheader,
  #page-footer,
  #col-top,
  #col-center,
  #col-left,
  #col-right,
  #col-bottom,
  .mod_custom-slideshow,
  .mod_breadcrumbs,
  .pagehub,
  form,
  .mod_banners,
  #gotop {
    display: none;
  }
  #col-center,
  #col-main {
    float: none;
    width: auto;
  }
  .img-left {
    float: left;
    margin: 0 1.3em 0 0;
  }
  .img-right {
    float: right;
    margin: 0 0 0 1.3em;
  }
}
