// fonts
.fp {font-family: 'Bohemian Typewriter', sans-serif;} // font primary
.fh {font-family: 'Insula', sans-serif;} // font header
.fi {font-family: sans-serif;} // font icon

// body
@bb: #ebd99b url('../images/bg/bg.jpg') center 530px; // body background

// colors
@cp: #333; // color primary
@cl: #895d1f; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 980px;
@content-padding: 20px;