#page-header {
	position: relative;
	margin: 0 0 -100px;
	height: 530px;
	background: url(../images/bg/header.jpg) repeat-x top;
	h1 {
		color: #fef758;
		text-shadow: 4px 0 0 fade(#000,70%);
		font-size: 86px;
		line-height: 1;
		text-transform: uppercase;
		margin: 120px 0 0;
		height: 171px;
		text-align: center;
	}
}
#mainmenu {
	margin: auto;
	max-width: 1160px;
	padding: 6px 0 0;
	-webkit-box-shadow: 0 1px 8px #000;
	-moz-box-shadow: 0 1px 8px #000;
	box-shadow: 0 1px 8px #000;
	background: url(../images/bg/menu.jpg) top;
	ul {
		.rul;
		text-align: center;
		li {
			.rli;
			display: inline-block;
			font-size: 28px;
			line-height: 1;
			white-space: nowrap;
			margin: 0 10px 6px;
			a {
				color: #fef19f;
				text-shadow: 3px 0 1px fade(#000,90%);
				text-decoration: none;
				&:hover{
					color: #fff;
				}
			}
			&.active {
				a {
					color: #fff;
				}
			}
		}
	}
}
#cards {
	position: relative;
	text-align: center;
	padding: 0 22px;
	margin: 0 0 50px;
	.item {
		display: inline-block;
		vertical-align: top;
		width: 33.3333%;
		padding: 0 4px;
		margin: 0 -4px 14px;
		color: #3a3a3a;
		a {
			.clearfix;
			display: block;
			color: #3a3a3a;
			text-decoration: none;
		}
		.inner {
			.border-radius(10px);
			.box-shadow(0 0 6px fade(#000,15%));
			.clearfix;
			overflow: hidden;
			position: relative;
			text-align: left;
			padding: 10px;
			height: 192px;
			font-size: 15px;
			background: url(../images/bg/card.jpg) no-repeat;
			background-size: 100% 100%;
			h2 {
				.fp;
				font-size: 22px;
				margin: 0 0 10px;
			}
			.left {
				position: absolute;
				bottom: 10px;
				left: 10px;
				width: 46%;
				.volejte-info-online {
					font-size: 12px;
					display: block;
				}
				.cislo {
					font-size: 18px;
				}
				.dovetek {
					font-size: 11px;
				}
			}
			.right {
				float: right;
				width: 50%;
				.foto {
					position: relative;
					width: 56%;
					float: right;
					margin: 0 0 10px;
					img {
						.box-shadow(1px 1px 2px fade(#000,60%));
						.border-radius(8px 5px 6px 4px);
						position: relative;
						display: block;
						-ms-transform: rotate(-1deg);
						-webkit-transform: rotate(-1deg);
						transform: rotate(-1deg);
					}
					&:before{
						position: absolute;
						z-index: 1;
						content: '';
						top: 15%;
						left: -62px;
						width: 76px;
						height: 76px;
						background: url(../images/bg/stamp.png) no-repeat;
						background-size: 100% 100%;
					}
				}
				.jmeno {
					display: block;
					clear: both;
					font-size: 25px;
					text-transform: uppercase;
					line-height: 1;
					font-weight: bold;
					margin: 0 0 5px;
				}
				.linka {
					clear: both;
					font-size: 14px;
					text-align: right;
					.klapka {
						position: relative;
						top: -4px;
						font-size: 22px;
						font-weight: bold;
					}
				}
			}
		}
		&:nth-child(2n+0) {
			.inner {
				.right {
					.foto {
						&:before{
							top: 2%;
						}
						img {
							-ms-transform: rotate(-4deg);
							-webkit-transform: rotate(-4deg);
							transform: rotate(-4deg);
						}
					}
				}
			}
		}
		&:nth-child(3n+0) {
			.inner {
				.right {
					.foto {
						&:before{
							top: 25%;
						}
						img {
							-ms-transform: rotate(4deg);
							-webkit-transform: rotate(4deg);
							transform: rotate(4deg);
						}
					}
				}
			}
		}
		.info-online, .info-offline {
			.fh;
			position: absolute;
			left: -12px;
			top: -15px;
			color: #fff8bb;
			background: #e11701;
			border-bottom: 2px solid darken(#e11701,10%);
			width: 90px;
			height: 36px;
			font-size: 15px;
			line-height: 1;
			padding: 17px 22px 0 0;
			white-space: nowrap;
			text-align: center;
			-ms-transform: rotate(-25deg);
			-webkit-transform: rotate(-25deg);
			transform: rotate(-25deg);
		}
		.info-offline {
			background: #bb7f3c;
			border-color: darken(#bb7f3c,10%);
		}
	}
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background: fade(#000,60%);
	.modal-dialog {
		.transition(0.5s);
		position: relative;
		top: 80px;
		width: auto;
		margin: 10px;
		width: 560px;
		margin: 30px auto;
		.close {
			.border-radius(50%);
			position: relative;
			z-index: 1;
			float: right;
			background: #fff8bb;
			width: 32px;
			height: 32px;
			line-height: 32px;
			text-align: center;
			padding: 0 0 0 1px;
			color: @cp;
			text-decoration: none;
			font-weight: bold;
			font-size: 26px;
			border: 1px solid @cp;
			margin: -15px -15px 0 0;
		}
		.modal-content {
			.border-radius(20px);
			.box-shadow(0 0 20px fade(#000,50%));
			text-align: left;
			padding: 40px;
			position: relative;
			background: url(../images/bg/bg.jpg) repeat-y center;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
		}
	}
}
.modal-open {
	overflow: hidden;
	.modal {
		overflow-x: hidden;
		overflow-y: auto;
	}
}
.modal.in {
	.modal-dialog {
		top: 0px;
	}
}
.modal-card {
	.modal-dialog {
		width: 605px;
		.modal-content {
			.clearfix;
			overflow: hidden;
			padding: 20px;
			background: url(../images/bg/card.jpg) no-repeat;
			background-size: 100% 100%;
			.info-online, .info-offline {
				.fh;
				position: absolute;
				left: -20px;
				top: -30px;
				color: #fff8bb;
				background: #e11701;
				border-bottom: 2px solid darken(#e11701,10%);
				width: 140px;
				height: 60px;
				font-size: 20px;
				line-height: 1;
				padding: 32px 40px 0 0;
				white-space: nowrap;
				text-align: center;
				-ms-transform: rotate(-25deg);
				-webkit-transform: rotate(-25deg);
				transform: rotate(-25deg);
			}
			.info-offline {
				background: #bb7f3c;
				border-color: darken(#bb7f3c,10%);
			}
			.left {
				float: left;
				width: 44%;
				padding: 105px 0 0;
				ul {
					.rul;
					li {
						.rli;
						font-size: 21px;
						padding: 0 0 0 22px;
						&:before{
							.fp;
							top: 5px;
							font-size: 21px;
							content: '-';
						}
					}
				}
			}
			.right {
				float: right;
				width: 50%;
				.bigfoto {
					position: relative;
					width: 45%;
					float: right;
					img {
						.box-shadow(1px 1px 2px fade(#000,60%));
						.border-radius(10px);
						position: relative;
						display: block;
						-ms-transform: rotate(-3deg);
						-webkit-transform: rotate(-3deg);
						transform: rotate(-3deg);
					}
					&:before{
						position: absolute;
						z-index: 1;
						content: '';
						top: 7%;
						left: -82px;
						width: 106px;
						height: 106px;
						background: url(../images/bg/stamp.png) no-repeat;
						background-size: 100% 100%;
					}
				}
				.jmeno {
					display: block;
					clear: both;
				    font-size: 38px;
				    text-transform: uppercase;
				    margin: 0 0 0 4px;
				}
				.linka {
				    font-size: 20px;
				    text-align: right;
				    margin: -20px 16px -10px 0;
				    .cislo {
				        font-size: 30px;
				    }
				    .volejte {
				        position: relative;
				        top: -12px;
				        font-size: 11px;
				        text-align: left;
				        padding-bottom: 4px;
				        margin: 0;
				    }
				    .dovetek {
				        position: relative;
				        top: -6px;
				        font-size: 12px;
				        text-align: right;
				        padding-bottom: 0px;
				        margin: 0;
				    }
				}
			}
		}
	}
}
#page-footer {
	margin: 0 auto 20px;
	max-width: 1160px;
	padding: 6px 0 0;
	font-size: 16px;
	line-height: 1.2;
	-webkit-box-shadow: 0 1px 8px #000;
	-moz-box-shadow: 0 1px 8px #000;
	box-shadow: 0 1px 8px #000;
	color: #fff;
	background: url(../images/bg/menu.jpg) top;
	background-size: auto 100%;
	a {
		color: #fff;
	}
}