@font-face {
    font-family: 'Bohemian Typewriter';
    src: url('bohemian_typewriter-webfont.eot');
    src: url('bohemian_typewriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('bohemian_typewriter-webfont.woff2') format('woff2'),
         url('bohemian_typewriter-webfont.woff') format('woff'),
         url('bohemian_typewriter-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}