@font-face {
    font-family: 'Insula';
    src: url('insula__-webfont.eot');
    src: url('insula__-webfont.eot?#iefix') format('embedded-opentype'),
         url('insula__-webfont.woff2') format('woff2'),
         url('insula__-webfont.woff') format('woff'),
         url('insula__-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}